@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Lilita+One&display=swap');

body{
    background-color: aliceblue;
    font-family: 'Fredoka', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "heading heading"
    "text_1 text_1"
    "image text_2"
    "text_3 text_3"
    "footer footer";
}

.navbar {
    grid-area: navbar;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    display: inline;
    padding: 15px;
}

.heading {
    grid-area: heading;
}

.text_1 {
    grid-area: text_1;
}

.image {
    grid-area: image;
}

.text_2 {
    grid-area: text_2;
}

.text_3 {
    grid-area: text_3;
}

.footer {
    grid-area: footer;
}
