@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Fredoka:wght@300..700&family=Lilita+One&family=Schoolbell&display=swap');

body{
    background-color: #ebffef;
    font-family: 'Fredoka', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar"
    "heading heading"
    "text_1 text_1"
    "image text_2"
    "text_3 text_3"
    "footer footer";
}

.navbar {
    grid-area: navbar;
    text-align: center;
    background-color: #179942;
    padding: 1.25rem 1.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}

.navbar li {
    display: inline-block;
    font-size: larger;
    background-color: #bfffcf;
    border-radius: 20px;
    margin: 0px 25px;
    box-shadow: 0 9px #2faf4f;
}

.navbar li:hover {
    background-color: #5fd687;
}

.navbar li:active {
    transform: translateY(5px);
    box-shadow: 0 7px #208831;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #024919;
    padding: 1rem;
    display: block;    
    width: 10.625rem;
    cursor: pointer;
    border-radius: 20px;
}

.navbar a.active {
    color: #ffffff;
    background-color: #58ce7b;
}

.navbar a:hover {
    color: #ffffff;
    background-color: #58ce7b;
    transition: 0.5s;
}

.navbar h1 {
    left: 10.625rem;
    position: absolute;
    font-family: 'schoolbell', cursive;
    color: #ebffef;
    font-size: 1.875rem;
}

.logo {
    height: 8.125rem;
    left: 1.875rem;
    position: absolute;
}

.heading {
    grid-area: heading;
    font-family: 'Barriecito', cursive;
    text-align: center;
    font-size: large;
    background-color: #ebffef;
    color: #443525;
    padding: 1rem 0.5rem;
    /* to change font size without affecting padding, just add height (maybe rarely width?) in this case*/
}

.text_1 {
    grid-area: text_1;
    background-color: #4F3E2C;
    color: #FFFFD0;
    text-align: center;
    font-size: 25px;    
    padding: 0rem 0.4rem;
    letter-spacing: 1px;
    font-family: 'Lilita One', cursive;
}

.image {
    grid-area: image;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_2 {
    grid-area: text_2;
    background-color: #ebffef;
    color: #443525;
    text-align: justify;
    font-weight: 500;
    font-size: 1.4rem;
    padding: 0.15rem 0.35rem;
}

p {
    margin: 0.5rem;
    padding: 0.75rem;
    line-height: 1.2;
}

/*

.text_3 marquee {
    font-size: 25px;
    height: auto;
    letter-spacing: 0.8px;
}
    
/* marquee is obsolete, not compatible with all browsers, have to find alternative code */

.text_3 {
    grid-area: text_3;
    background-color: #4F3E2C;
    color: #FFFFD0;  
    font-family: 'Lilita One', cursive; 
    overflow: hidden;
}

.text_3 div {
    font-size: 25px;
    letter-spacing: 0.8px;
    white-space: nowrap;
    animation: scroll 60s linear infinite;
    padding-left: 100%;
    display: inline-block;
}

@keyframes scroll {
    100% {
        transform: translate(-100%, 0);
    }
}

.text_3 div:hover {
    animation-play-state: paused;
}

.text_3 span {
    margin-right: 50px;
}

.footer {
    grid-area: footer;
    font-family: 'Schoolbell', cursive;
    text-align: left;
    letter-spacing: 0.03rem;
    font-size: 25px;
    font-weight: bolder;
    background-color: #179942;
}

.footer h3 {
    margin: 0.2rem 0.3rem 0.3rem 1.6rem;
    padding: 0.30rem;
    color: #ebffef;
}
